<%= form_tag "/tshirt/buy", role: "form" do %>
	<div class="form-group">
	  <label for="genderRadio">Modelo:</label>
		<div class="radio-inline">
		  <%= radio_button_tag(:gender, "male", checked: true) %>
			<%= label_tag(:gender_male, "Masculino") %>
		</div>
		<div class="radio-inline">
			<%= radio_button_tag(:gender, "female") %>
			<%= label_tag(:gender_female, "Feminino") %>
		</div>
  </div>

  <div class="form-group">
		<label for="sizeRadio">Tamanho:</label>
		<div class="radio-inline">
			<%= radio_button_tag(:size, "small") %>
			<%= label_tag(:size_small, "P") %>
		</div>
		<div class="radio-inline">
			<%= radio_button_tag(:size, "medium") %>
			<%= label_tag(:size_medium, "M") %>
		</div>
		<div class="radio-inline">
			<%= radio_button_tag(:size, "large", checked: true) %>
			<%= label_tag(:size_large, "G") %>
		</div>
		<div class="radio-inline">
			<%= radio_button_tag(:size, "extra large") %>
			<%= label_tag(:size_extra_large, "GG") %>
		</div>
	  
		<div class="form-group">
		  <%= submit_tag "Comprar", class: "btn btn-default" %>
		</div>
	</div>
<% end %>