<!DOCTYPE html>
<html>
<head>
  <title>Heisenberg Camisetas - Camiseta Heisenberg Breaking Bad R$ 39,90</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Camiseta Breaking Bad (Heisenberg) por R$ 39,90. Entrega imediata. Parcelamento disponível.">
  <meta name="keywords" content="Camiseta, Breaking Bad, Heisenberg, Heisenberg Camisetas">
  <meta property="og:type"   			content="website" /> 
  <meta property="og:url"    			content="<%= "http://www.heisenbergcamisetas.com.br" %>" /> 
  <meta property="og:title"  			content="Camiseta Heisenberg Breaking Bad" /> 
  <meta property="og:description" content="Compre a camiseta clássica do Heisenberg da série Breaking Bad por R$39,90" /> 
  <meta property="og:image"  			content="https://s3.amazonaws.com/heisenbergcamisetas/fb_heisenberg_preco.jpg" /> 
  <%= render 'layouts/google_analytics' if Rails.env.production? %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>
